page-feed {
    h2.feed_title {
        color: red;
        font-weight: bold;
    }
    p.feed_date{
        color: green;
    }
    .toolbar-title-md {
        font-style: italic;
        color: blue;
      }
}
